<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myicellar.digitalmenu.dao.mapper.ImgTypeMapper">
  <resultMap id="BaseResultMap" type="com.myicellar.digitalmenu.dao.entity.ImgType">
    <id column="img_type_id" jdbcType="BIGINT" property="imgTypeId" />
    <result column="img_type_name_eng" jdbcType="VARCHAR" property="imgTypeNameEng" />
    <result column="img_type_name_chs" jdbcType="VARCHAR" property="imgTypeNameChs" />
    <result column="img_type_name_cht" jdbcType="VARCHAR" property="imgTypeNameCht" />
    <result column="created_user" jdbcType="BIGINT" property="createdUser" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_user" jdbcType="BIGINT" property="updatedUser" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    img_type_id, img_type_name_eng, img_type_name_chs, img_type_name_cht, created_user, 
    created_at, updated_user, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_img_type
    where img_type_id = #{imgTypeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_img_type
    where img_type_id = #{imgTypeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.myicellar.digitalmenu.dao.entity.ImgType">
    insert into t_img_type (img_type_id, img_type_name_eng, img_type_name_chs, 
      img_type_name_cht, created_user, created_at, 
      updated_user, updated_at)
    values (#{imgTypeId,jdbcType=BIGINT}, #{imgTypeNameEng,jdbcType=VARCHAR}, #{imgTypeNameChs,jdbcType=VARCHAR}, 
      #{imgTypeNameCht,jdbcType=VARCHAR}, #{createdUser,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedUser,jdbcType=BIGINT}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myicellar.digitalmenu.dao.entity.ImgType">
    insert into t_img_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imgTypeId != null">
        img_type_id,
      </if>
      <if test="imgTypeNameEng != null">
        img_type_name_eng,
      </if>
      <if test="imgTypeNameChs != null">
        img_type_name_chs,
      </if>
      <if test="imgTypeNameCht != null">
        img_type_name_cht,
      </if>
      <if test="createdUser != null">
        created_user,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedUser != null">
        updated_user,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imgTypeId != null">
        #{imgTypeId,jdbcType=BIGINT},
      </if>
      <if test="imgTypeNameEng != null">
        #{imgTypeNameEng,jdbcType=VARCHAR},
      </if>
      <if test="imgTypeNameChs != null">
        #{imgTypeNameChs,jdbcType=VARCHAR},
      </if>
      <if test="imgTypeNameCht != null">
        #{imgTypeNameCht,jdbcType=VARCHAR},
      </if>
      <if test="createdUser != null">
        #{createdUser,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null">
        #{updatedUser,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myicellar.digitalmenu.dao.entity.ImgType">
    update t_img_type
    <set>
      <if test="imgTypeNameEng != null">
        img_type_name_eng = #{imgTypeNameEng,jdbcType=VARCHAR},
      </if>
      <if test="imgTypeNameChs != null">
        img_type_name_chs = #{imgTypeNameChs,jdbcType=VARCHAR},
      </if>
      <if test="imgTypeNameCht != null">
        img_type_name_cht = #{imgTypeNameCht,jdbcType=VARCHAR},
      </if>
      <if test="createdUser != null">
        created_user = #{createdUser,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null">
        updated_user = #{updatedUser,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where img_type_id = #{imgTypeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myicellar.digitalmenu.dao.entity.ImgType">
    update t_img_type
    set img_type_name_eng = #{imgTypeNameEng,jdbcType=VARCHAR},
      img_type_name_chs = #{imgTypeNameChs,jdbcType=VARCHAR},
      img_type_name_cht = #{imgTypeNameCht,jdbcType=VARCHAR},
      created_user = #{createdUser,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where img_type_id = #{imgTypeId,jdbcType=BIGINT}
  </update>
</mapper>