<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myicellar.digitalmenu.dao.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.myicellar.digitalmenu.dao.entity.Permission">
    <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_value" jdbcType="VARCHAR" property="permissionValue" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_user" jdbcType="BIGINT" property="createdUser" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_user" jdbcType="BIGINT" property="updatedUser" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_id, menu_id, permission_name, permission_value, description, created_user, 
    created_time, updated_user, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_permission
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_permission
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.myicellar.digitalmenu.dao.entity.Permission">
    insert into t_permission (permission_id, menu_id, permission_name, 
      permission_value, description, created_user, 
      created_time, updated_user, updated_time
      )
    values (#{permissionId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT}, #{permissionName,jdbcType=VARCHAR}, 
      #{permissionValue,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createdUser,jdbcType=BIGINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myicellar.digitalmenu.dao.entity.Permission">
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="permissionValue != null">
        permission_value,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createdUser != null">
        created_user,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedUser != null">
        updated_user,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionValue != null">
        #{permissionValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdUser != null">
        #{createdUser,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null">
        #{updatedUser,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myicellar.digitalmenu.dao.entity.Permission">
    update t_permission
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionValue != null">
        permission_value = #{permissionValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdUser != null">
        created_user = #{createdUser,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null">
        updated_user = #{updatedUser,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myicellar.digitalmenu.dao.entity.Permission">
    update t_permission
    set menu_id = #{menuId,jdbcType=BIGINT},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_value = #{permissionValue,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      created_user = #{createdUser,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
</mapper>