<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myicellar.digitalmenu.dao.mapper.WineAttrMapper">
  <resultMap id="BaseResultMap" type="com.myicellar.digitalmenu.dao.entity.WineAttr">
    <id column="attr_id" jdbcType="BIGINT" property="attrId" />
    <id column="wine_id" jdbcType="BIGINT" property="wineId" />
    <result column="mic_rank" jdbcType="SMALLINT" property="micRank" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    attr_id, wine_id, mic_rank, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wine_attr
    where attr_id = #{attrId,jdbcType=BIGINT}
      and wine_id = #{wineId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_wine_attr
    where attr_id = #{attrId,jdbcType=BIGINT}
      and wine_id = #{wineId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.myicellar.digitalmenu.dao.entity.WineAttr">
    insert into t_wine_attr (attr_id, wine_id, mic_rank, 
      updated_at)
    values (#{attrId,jdbcType=BIGINT}, #{wineId,jdbcType=BIGINT}, #{micRank,jdbcType=SMALLINT}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myicellar.digitalmenu.dao.entity.WineAttr">
    insert into t_wine_attr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attrId != null">
        attr_id,
      </if>
      <if test="wineId != null">
        wine_id,
      </if>
      <if test="micRank != null">
        mic_rank,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attrId != null">
        #{attrId,jdbcType=BIGINT},
      </if>
      <if test="wineId != null">
        #{wineId,jdbcType=BIGINT},
      </if>
      <if test="micRank != null">
        #{micRank,jdbcType=SMALLINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myicellar.digitalmenu.dao.entity.WineAttr">
    update t_wine_attr
    <set>
      <if test="micRank != null">
        mic_rank = #{micRank,jdbcType=SMALLINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where attr_id = #{attrId,jdbcType=BIGINT}
      and wine_id = #{wineId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myicellar.digitalmenu.dao.entity.WineAttr">
    update t_wine_attr
    set mic_rank = #{micRank,jdbcType=SMALLINT},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where attr_id = #{attrId,jdbcType=BIGINT}
      and wine_id = #{wineId,jdbcType=BIGINT}
  </update>
</mapper>