<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myicellar.digitalmenu.dao.mapper.WineryMapper">
    <resultMap id="BaseResultMap" type="com.myicellar.digitalmenu.dao.entity.Winery">
        <id column="winery_id" jdbcType="BIGINT" property="wineryId"/>
        <result column="winery_seo_name" jdbcType="VARCHAR" property="winerySeoName"/>
        <result column="winery_name_eng" jdbcType="VARCHAR" property="wineryNameEng"/>
        <result column="winery_name_chs" jdbcType="VARCHAR" property="wineryNameChs"/>
        <result column="winery_name_cht" jdbcType="VARCHAR" property="wineryNameCht"/>
        <result column="logo_img_id" jdbcType="BIGINT" property="logoImgId"/>
        <result column="banner_img_id" jdbcType="BIGINT" property="bannerImgId"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.myicellar.digitalmenu.dao.entity.Winery">
        <result column="note_plain_eng" jdbcType="LONGVARCHAR" property="notePlainEng"/>
        <result column="note_plain_chs" jdbcType="LONGVARCHAR" property="notePlainChs"/>
        <result column="note_plain_cht" jdbcType="LONGVARCHAR" property="notePlainCht"/>
        <result column="about_url" jdbcType="LONGVARCHAR" property="aboutUrl"/>
        <result column="winery_img_ids" jdbcType="LONGVARCHAR" property="wineryImgIds"/>
    </resultMap>
    <sql id="Base_Column_List">
        winery_id, winery_seo_name, winery_name_eng, winery_name_chs, winery_name_cht, logo_img_id,
        banner_img_id, updated_at, updated_by, created_at, created_by
    </sql>
    <sql id="Blob_Column_List">
        note_plain_eng, note_plain_chs, note_plain_cht, about_url, winery_img_ids
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_winery
        where winery_id = #{wineryId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_winery
        where winery_id = #{wineryId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.myicellar.digitalmenu.dao.entity.Winery">
        insert into t_winery (winery_id, winery_seo_name, winery_name_eng,
        winery_name_chs, winery_name_cht, logo_img_id,
        banner_img_id, updated_at, updated_by,
        created_at, created_by, note_plain_eng,
        note_plain_chs, note_plain_cht, about_url,
        winery_img_ids)
        values (#{wineryId,jdbcType=BIGINT}, #{winerySeoName,jdbcType=VARCHAR}, #{wineryNameEng,jdbcType=VARCHAR},
        #{wineryNameChs,jdbcType=VARCHAR}, #{wineryNameCht,jdbcType=VARCHAR}, #{logoImgId,jdbcType=BIGINT},
        #{bannerImgId,jdbcType=BIGINT}, #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT},
        #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, #{notePlainEng,jdbcType=LONGVARCHAR},
        #{notePlainChs,jdbcType=LONGVARCHAR}, #{notePlainCht,jdbcType=LONGVARCHAR}, #{aboutUrl,jdbcType=LONGVARCHAR},
        #{wineryImgIds,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.myicellar.digitalmenu.dao.entity.Winery">
        insert into t_winery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wineryId != null">
                winery_id,
            </if>
            <if test="winerySeoName != null">
                winery_seo_name,
            </if>
            <if test="wineryNameEng != null">
                winery_name_eng,
            </if>
            <if test="wineryNameChs != null">
                winery_name_chs,
            </if>
            <if test="wineryNameCht != null">
                winery_name_cht,
            </if>
            <if test="logoImgId != null">
                logo_img_id,
            </if>
            <if test="bannerImgId != null">
                banner_img_id,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="notePlainEng != null">
                note_plain_eng,
            </if>
            <if test="notePlainChs != null">
                note_plain_chs,
            </if>
            <if test="notePlainCht != null">
                note_plain_cht,
            </if>
            <if test="aboutUrl != null">
                about_url,
            </if>
            <if test="wineryImgIds != null">
                winery_img_ids,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wineryId != null">
                #{wineryId,jdbcType=BIGINT},
            </if>
            <if test="winerySeoName != null">
                #{winerySeoName,jdbcType=VARCHAR},
            </if>
            <if test="wineryNameEng != null">
                #{wineryNameEng,jdbcType=VARCHAR},
            </if>
            <if test="wineryNameChs != null">
                #{wineryNameChs,jdbcType=VARCHAR},
            </if>
            <if test="wineryNameCht != null">
                #{wineryNameCht,jdbcType=VARCHAR},
            </if>
            <if test="logoImgId != null">
                #{logoImgId,jdbcType=BIGINT},
            </if>
            <if test="bannerImgId != null">
                #{bannerImgId,jdbcType=BIGINT},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="notePlainEng != null">
                #{notePlainEng,jdbcType=LONGVARCHAR},
            </if>
            <if test="notePlainChs != null">
                #{notePlainChs,jdbcType=LONGVARCHAR},
            </if>
            <if test="notePlainCht != null">
                #{notePlainCht,jdbcType=LONGVARCHAR},
            </if>
            <if test="aboutUrl != null">
                #{aboutUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="wineryImgIds != null">
                #{wineryImgIds,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.myicellar.digitalmenu.dao.entity.Winery">
        update t_winery
        <set>
            <if test="winerySeoName != null">
                winery_seo_name = #{winerySeoName,jdbcType=VARCHAR},
            </if>
            <if test="wineryNameEng != null">
                winery_name_eng = #{wineryNameEng,jdbcType=VARCHAR},
            </if>
            <if test="wineryNameChs != null">
                winery_name_chs = #{wineryNameChs,jdbcType=VARCHAR},
            </if>
            <if test="wineryNameCht != null">
                winery_name_cht = #{wineryNameCht,jdbcType=VARCHAR},
            </if>
            <if test="logoImgId != null">
                logo_img_id = #{logoImgId,jdbcType=BIGINT},
            </if>
            <if test="bannerImgId != null">
                banner_img_id = #{bannerImgId,jdbcType=BIGINT},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="notePlainEng != null">
                note_plain_eng = #{notePlainEng,jdbcType=LONGVARCHAR},
            </if>
            <if test="notePlainChs != null">
                note_plain_chs = #{notePlainChs,jdbcType=LONGVARCHAR},
            </if>
            <if test="notePlainCht != null">
                note_plain_cht = #{notePlainCht,jdbcType=LONGVARCHAR},
            </if>
            <if test="aboutUrl != null">
                about_url = #{aboutUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="wineryImgIds != null">
                winery_img_ids = #{wineryImgIds,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where winery_id = #{wineryId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.myicellar.digitalmenu.dao.entity.Winery">
        update t_winery
        set winery_seo_name = #{winerySeoName,jdbcType=VARCHAR},
        winery_name_eng = #{wineryNameEng,jdbcType=VARCHAR},
        winery_name_chs = #{wineryNameChs,jdbcType=VARCHAR},
        winery_name_cht = #{wineryNameCht,jdbcType=VARCHAR},
        logo_img_id = #{logoImgId,jdbcType=BIGINT},
        banner_img_id = #{bannerImgId,jdbcType=BIGINT},
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        created_by = #{createdBy,jdbcType=BIGINT},
        note_plain_eng = #{notePlainEng,jdbcType=LONGVARCHAR},
        note_plain_chs = #{notePlainChs,jdbcType=LONGVARCHAR},
        note_plain_cht = #{notePlainCht,jdbcType=LONGVARCHAR},
        about_url = #{aboutUrl,jdbcType=LONGVARCHAR},
        winery_img_ids = #{wineryImgIds,jdbcType=LONGVARCHAR}
        where winery_id = #{wineryId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.myicellar.digitalmenu.dao.entity.Winery">
        update t_winery
        set winery_seo_name = #{winerySeoName,jdbcType=VARCHAR},
        winery_name_eng = #{wineryNameEng,jdbcType=VARCHAR},
        winery_name_chs = #{wineryNameChs,jdbcType=VARCHAR},
        winery_name_cht = #{wineryNameCht,jdbcType=VARCHAR},
        logo_img_id = #{logoImgId,jdbcType=BIGINT},
        banner_img_id = #{bannerImgId,jdbcType=BIGINT},
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        created_by = #{createdBy,jdbcType=BIGINT}
        where winery_id = #{wineryId,jdbcType=BIGINT}
    </update>
</mapper>